/*
@media (max-width: $sheet-w-XL*1.1) {
}
@media (max-width: $sheet-w-L*1.1) {
}
@media (max-width: $sheet-w-M*1.1) {
}
*/
body {
  margin: 0;
}

header h1 {
  margin: 0;
  width: 100%;
  padding: 0.4em 0 0.4em 0;
  background-color: #579c87;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
@media (max-width: 1024px) {
  .content {
    margin: 1em 7.2em;
  }
}
@media (min-width: 1024px) and (max-width: 1280px) {
  .content {
    margin: 1em 11em;
  }
}
@media (max-width: 768px) {
  .content {
    margin: 1em 6em;
  }
}
.content .content__menu {
  width: 300px;
  height: 450px;
  margin-top: 1em;
  margin-bottom: 1em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
@media (max-width: 1024px) {
  .content .content__menu {
    width: 250px;
    height: 375px;
  }
}
@media (max-width: 768px) {
  .content .content__menu {
    width: 180px;
    height: 270px;
  }
}
.content .content__menu--note {
  background-color: #fcdfdb;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  margin: 0.5em;
}
.content .content__menu--note .fa-itunes-note {
  background-image: linear-gradient(to right, #f04a5e, #f35e5e, #f56f60, #f68064, #f78f6a);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.content .content__menu--chic {
  background-color: #fff5fe;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  margin: 0.5em;
}
.content .content__menu--delice {
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  margin: 0.5em;
}
.content .content__menu--palette {
  background-color: #fdfffd;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  margin: 0.5em;
}

.btn {
  text-align: center;
  margin-top: 4em;
  margin-bottom: 5em;
}
.btn .prochainement {
  width: 180px;
  padding: 0.4em 1.6em;
  border-radius: 8px;
  margin: auto;
  background-color: #579c87;
}
.btn .prochainement:hover {
  border: #579c87 2px solid;
  transform: scale(1.1);
  background-color: #85bbaa;
}
.btn--prochainement {
  margin-bottom: 2em;
}

.ellipsis {
  display: flex;
  justify-content: center;
  margin-top: 40vh;
}
.ellipsis .ellipsis--1 {
  width: 5vh;
  height: 5vh;
  margin: 0 5px 0 5px;
  border-radius: 10vh;
  background-color: #7a7a7a;
  animation: ellipsis 1.1s 0.1375s both infinite;
}
.ellipsis .ellipsis--2 {
  width: 5vh;
  height: 5vh;
  margin: 0 5px 0 5px;
  border-radius: 10vh;
  background-color: #7a7a7a;
  animation: ellipsis 1.1s 0.275s both infinite;
}
.ellipsis .ellipsis--3 {
  width: 5vh;
  height: 5vh;
  margin: 0 5px 0 5px;
  border-radius: 10vh;
  background-color: #7a7a7a;
  animation: ellipsis 1.1s 0.4125s both infinite;
}

.menu-page__title {
  margin-top: 2em;
  margin-bottom: 2em;
}

.sheet-note {
  background-color: #fcdfdb;
  width: 1120px;
  height: 1579.2px;
  margin: auto;
  margin-bottom: 4em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 1232px) {
  .sheet-note {
    width: 847px;
    height: 1194.27px;
  }
}
@media (max-width: 931.7px) {
  .sheet-note {
    width: 574px;
    height: 809.34px;
  }
}
@media (max-width: 631.4px) {
  .sheet-note {
    width: 300px;
    height: 1000px;
  }
}
.sheet-note__title {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 12%;
  margin-bottom: 0%;
}
.sheet-note__title .fab {
  margin: auto;
  background-image: linear-gradient(to right, #f04a5e, #f35e5e, #f56f60, #f68064, #f78f6a);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.sheet-note__container {
  width: 85%;
}
.sheet-note__container--header {
  margin-top: 3em;
  margin-bottom: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media (max-width: 931.7px) {
  .sheet-note__container--header {
    margin-top: 2em;
  }
}
@media (max-width: 631.4px) {
  .sheet-note__container--header {
    margin-top: 1.5em;
  }
}
.sheet-note__container--header-title {
  position: relative;
}
.sheet-note__container--header-title:hover:after {
  width: 100%;
  left: 0;
  background: black;
}
.sheet-note__container--header-title:after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  right: 0;
  background: black;
  transition: width 0.2s ease;
}
.sheet-note__container--header img {
  object-fit: contain;
  width: 33%;
}
@media (max-width: 631.4px) {
  .sheet-note__container--header img {
    width: 24.75%;
  }
}
.sheet-note__container--dishes-name {
  display: grid;
  grid-template-columns: 85% 15%;
  line-height: 3em;
  width: 100%;
}
.sheet-note__container--dishes .price {
  text-align: right;
  margin: auto;
}
.sheet-note__footer {
  display: flex;
  flex-direction: row;
  margin-top: 3em;
}
.sheet-note__footer .fab {
  background-image: linear-gradient(to right, #f04a5e, #f35e5e, #f56f60, #f68064, #f78f6a);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  padding: 0;
  margin-right: 0.2em;
}
.sheet-note__footer h2 {
  padding: 0;
  margin: 0;
}

.sheet-chic {
  background-color: #fff5fe;
  width: 1120px;
  height: 1579.2px;
  margin: auto;
  margin-bottom: 4em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 1232px) {
  .sheet-chic {
    width: 847px;
    height: 1194.27px;
  }
}
@media (max-width: 931.7px) {
  .sheet-chic {
    width: 574px;
    height: 809.34px;
  }
}
@media (max-width: 631.4px) {
  .sheet-chic {
    width: 300px;
    height: 800px;
  }
}
.sheet-chic__title {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 12%;
  margin-bottom: 2em;
}
.sheet-chic__container {
  width: 80%;
}
.sheet-chic__container--header {
  margin-top: 3em;
  margin-bottom: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media (max-width: 931.7px) {
  .sheet-chic__container--header {
    margin-top: 2em;
  }
}
@media (max-width: 631.4px) {
  .sheet-chic__container--header {
    margin-top: 1.5em;
  }
}
.sheet-chic__container--header-title {
  position: relative;
}
.sheet-chic__container--header-title:hover:after {
  width: 100%;
  left: 0;
  background: black;
}
.sheet-chic__container--header-title:after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  right: 0;
  background: black;
  transition: width 0.2s ease;
}
.sheet-chic__container--header img {
  width: 33%;
}
@media (max-width: 631.4px) {
  .sheet-chic__container--header img {
    width: 19.8%;
  }
}
.sheet-chic__container--dishes-name {
  display: grid;
  grid-template-columns: 85% 15%;
  line-height: 3em;
  width: 100%;
}
.sheet-chic__container--dishes .price {
  text-align: right;
  margin: auto;
}

.sheet-delice {
  background-color: #f9f9f9;
  width: 1120px;
  height: 1579.2px;
  margin: auto;
  margin-bottom: 4em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 1232px) {
  .sheet-delice {
    width: 847px;
    height: 1194.27px;
  }
}
@media (max-width: 931.7px) {
  .sheet-delice {
    width: 574px;
    height: 809.34px;
  }
}
@media (max-width: 631.4px) {
  .sheet-delice {
    width: 300px;
    height: 700px;
  }
}
.sheet-delice__title {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 12%;
  margin-bottom: 2em;
}
.sheet-delice__container {
  width: 80%;
}
.sheet-delice__container--header {
  margin-top: 3em;
  margin-bottom: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media (max-width: 931.7px) {
  .sheet-delice__container--header {
    margin-top: 2em;
  }
}
@media (max-width: 631.4px) {
  .sheet-delice__container--header {
    margin-top: 1.5em;
  }
}
.sheet-delice__container--header-title {
  position: relative;
}
.sheet-delice__container--header-title:hover:after {
  width: 100%;
  left: 0;
  background: black;
}
.sheet-delice__container--header-title:after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  right: 0;
  background: black;
  transition: width 0.2s ease;
}
.sheet-delice__container--header img {
  width: 33%;
}
@media (max-width: 631.4px) {
  .sheet-delice__container--header img {
    width: 23.1%;
  }
}
.sheet-delice__container--dishes {
  margin: 0 5em;
}
@media (max-width: 631.4px) {
  .sheet-delice__container--dishes {
    margin: 0 0;
  }
}
.sheet-delice__container--dishes-name {
  display: grid;
  grid-template-columns: 85% 15%;
  line-height: 3em;
  width: 100%;
}
.sheet-delice__container--dishes .price {
  text-align: right;
  margin: auto;
}

.sheet-palette {
  background-color: #fdfffd;
  width: 1120px;
  height: 1579.2px;
  margin: auto;
  margin-bottom: 4em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 1232px) {
  .sheet-palette {
    width: 847px;
    height: 1194.27px;
  }
}
@media (max-width: 931.7px) {
  .sheet-palette {
    width: 574px;
    height: 809.34px;
  }
}
@media (max-width: 631.4px) {
  .sheet-palette {
    width: 300px;
    height: 850px;
  }
}
.sheet-palette__title {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 12%;
  margin-bottom: 0%;
}
.sheet-palette__container {
  width: 80%;
}
.sheet-palette__container--header {
  margin-top: 3em;
  margin-bottom: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media (max-width: 931.7px) {
  .sheet-palette__container--header {
    margin-top: 2em;
  }
}
@media (max-width: 631.4px) {
  .sheet-palette__container--header {
    margin-top: 1.5em;
  }
}
.sheet-palette__container--header-title {
  position: relative;
}
.sheet-palette__container--header-title:hover:after {
  width: 100%;
  left: 0;
  background: black;
}
.sheet-palette__container--header-title:after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  right: 0;
  background: black;
  transition: width 0.2s ease;
}
.sheet-palette__container--header img {
  width: 33%;
  object-fit: contain;
}
@media (max-width: 631.4px) {
  .sheet-palette__container--header img {
    width: 24.75%;
  }
}
.sheet-palette__container--dishes {
  margin-left: 5%;
  margin-right: 5%;
}
.sheet-palette__container--dishes-name {
  display: grid;
  grid-template-columns: 85% 15%;
  line-height: 3em;
  width: 100%;
}
.sheet-palette__container--dishes .price {
  text-align: right;
  margin: auto;
}

footer {
  position: fixed;
  width: 100%;
  height: 3em;
  bottom: 0;
  background-color: #579c87;
}
footer ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1% 4%;
  padding: 0;
}
footer li:hover {
  animation: wiggle 200ms cubic-bezier(0.4, 0.1, 0.6, 0.9) 2;
}

.cgv {
  margin: 2em;
  margin-bottom: 5em;
  font-family: "Roboto", sans-serif;
}
.cgv .hidden_link {
  text-decoration: none;
  color: black;
}

@keyframes ellipsis {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  5% {
    transform: translateY(5px) scale(1.2, 0.8);
    animation-timing-function: linear;
  }
  25% {
    transform: translateY(-25px) scale(0.8, 1.2);
    animation-timing-function: linear;
  }
  50% {
    transform: translateY(-50px) scale(1, 1);
    animation-timing-function: linear;
  }
  60% {
    transform: translateY(-25px) scale(0.8, 1.2);
    animation-timing-function: linear;
  }
  90% {
    transform: scale(1.2, 0.8) translateY(5px);
    animation-timing-function: linear;
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes wiggle {
  25% {
    transform: translateX(1%);
  }
  75% {
    transform: translateX(-1%);
  }
}
.link_note:hover > .content__menu--note > * {
  transform: scale(1.1);
  opacity: 0.6;
  transition: transform 200ms, opacity 200ms;
}

.link_note > .content__menu--note > * {
  transition: transform 200ms, opacity 200ms;
}

.link_chic:hover > .content__menu--chic > * {
  transform: scale(1.1);
  opacity: 0.6;
  transition: transform 200ms, opacity 200ms;
}

.link_chic > .content__menu--chic > * {
  transition: transform 200ms, opacity 200ms;
}

.link_delice:hover > .content__menu--delice > * {
  transform: scale(1.1);
  opacity: 0.6;
  transition: transform 200ms, opacity 200ms;
}

.link_delice > .content__menu--delice > * {
  transition: transform 200ms, opacity 200ms;
}

.link_palette:hover > .content__menu--palette > * {
  transform: scale(1.1);
  opacity: 0.6;
  transition: transform 200ms, opacity 200ms;
}

.link_palette > .content__menu--palette > * {
  transition: transform 200ms, opacity 200ms;
}

@font-face {
  font-family: "Devonshire-Regular";
  src: url("../font/Devonshire-Regular.ttf.woff") format("woff"), url("../font/Devonshire-Regular.ttf.svg#Devonshire-Regular") format("svg"), url("../font/Devonshire-Regular.ttf.eot"), url("../font/Devonshire-Regular.ttf.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Dancing-Script";
  src: url("../font/Dancing-Script.ttf.woff") format("woff"), url("../font/Dancing-Script.ttf.svg#Dancing-Script") format("svg"), url("../font/Dancing-Script.ttf.eot"), url("../font/Dancing-Script.ttf.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Kaushan-Script";
  src: url("../font/Kaushan-Script.ttf.woff") format("woff"), url("../font/Kaushan-Script.ttf.svg#Kaushan-Script") format("svg"), url("../font/Kaushan-Script.ttf.eot"), url("../font/Kaushan-Script.ttf.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Croissant-One";
  src: url("../font/Croissant-One.ttf.woff") format("woff"), url("../font/Croissant-One.ttf.svg#Croissant-One") format("svg"), url("../font/Croissant-One.ttf.eot"), url("../font/Croissant-One.ttf.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Sumana";
  src: url("../font/Sumana.ttf.woff") format("woff"), url("../font/Sumana.ttf.svg#Sumana") format("svg"), url("../font/Sumana.ttf.eot"), url("../font/Sumana.ttf.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
h1 {
  text-align: center;
}
h1 a {
  font-family: "Roboto", sans-serif;
  letter-spacing: -0.06em;
  text-decoration: none;
  color: #fdcb46;
  font-weight: bold;
  text-transform: lowercase;
  font-size: 46px;
}

a {
  text-decoration: none;
}

.content .content__menu--note h2 {
  font-family: "Devonshire-Regular", sans-serif;
  font-weight: normal;
  color: #3c1218;
}
.content .content__menu--note h3 {
  text-transform: uppercase;
  font-family: "Segoe print", sans-serif;
  font-weight: bold;
  color: #3c1218;
}
.content .content__menu--chic h2 {
  font-family: "Croissant-One", sans-serif;
  background-image: linear-gradient(to right, #d8852e, #d8852e, #ff367e, #e633be, #905bfd);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 1.1em;
}
@media (max-width: 768px) {
  .content .content__menu--chic h2 {
    padding-top: 2em;
    font-size: 0.8em;
  }
}
.content .content__menu--chic h3 {
  font-weight: bold;
  font-size: 1.5em;
  color: #d8852e;
}
@media (max-width: 768px) {
  .content .content__menu--chic h3 {
    font-size: 1.4em;
  }
}
.content .content__menu--delice h2 {
  font-family: "dancing-Script", sans-serif;
  background-image: linear-gradient(to right bottom, #0431df, #0431df, #0074f7, #0887fb);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
@media (max-width: 768px) {
  .content .content__menu--delice h2 {
    font-size: 1.2em;
  }
}
.content .content__menu--delice h3 {
  font-family: "Segoe print", sans-serif;
  color: #0887fb;
}
.content .content__menu--palette h2 {
  font-family: "Kaushan-Script", sans-serif;
  background-image: linear-gradient(to right, #3d9339, #5dad4a, #7dc85b, #9ee36c, #bfff7e);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
@media (max-width: 768px) {
  .content .content__menu--palette h2 {
    font-size: 1.2em;
  }
}
.content .content__menu--palette h3 {
  font-family: "Segoe print", sans-serif;
  color: #72bf56;
}

.prochainement {
  color: #fdcb46;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 1.2em;
}

.menu-page__title {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.sheet-note__title .fab {
  font-size: 8em;
}
@media (max-width: 1232px) {
  .sheet-note__title .fab {
    font-size: 6em;
  }
}
@media (max-width: 931.7px) {
  .sheet-note__title .fab {
    font-size: 4em;
  }
}
.sheet-note__title h2 {
  font-size: 4em;
  font-family: "Devonshire-Regular", sans-serif;
  font-weight: normal;
  color: #3c1218;
}
@media (max-width: 1232px) {
  .sheet-note__title h2 {
    font-size: 3em;
  }
}
@media (max-width: 931.7px) {
  .sheet-note__title h2 {
    font-size: 2em;
  }
}
.sheet-note__container {
  font-family: "Segoe print", sans-serif;
}
.sheet-note__container--header-title {
  font-weight: bold;
  font-size: 1.8em;
}
@media (max-width: 1232px) {
  .sheet-note__container--header-title {
    font-size: 1.35em;
  }
}
@media (max-width: 931.7px) {
  .sheet-note__container--header-title {
    font-size: 0.9em;
  }
}
.sheet-note__container--dishes-name {
  font-size: 1.2em;
}
@media (max-width: 1232px) {
  .sheet-note__container--dishes-name {
    font-size: 0.9em;
  }
}
@media (max-width: 931.7px) {
  .sheet-note__container--dishes-name {
    font-size: 0.6em;
  }
}
.sheet-note__container--dishes .price {
  font-weight: bolder;
  font-size: 1.4em;
}
@media (max-width: 1232px) {
  .sheet-note__container--dishes .price {
    font-size: 1.05em;
  }
}
@media (max-width: 931.7px) {
  .sheet-note__container--dishes .price {
    font-size: 0.7em;
  }
}
.sheet-note__footer {
  font-size: 1.7em;
  font-family: "Devonshire-Regular", sans-serif;
  font-weight: normal;
  color: #3c1218;
}
@media (max-width: 1232px) {
  .sheet-note__footer {
    font-size: 1.275em;
  }
}
@media (max-width: 931.7px) {
  .sheet-note__footer {
    font-size: 0.85em;
  }
}
.sheet-note__footer .fab {
  font-size: 2.5em;
}
@media (max-width: 1232px) {
  .sheet-note__footer .fab {
    font-size: 1.875em;
  }
}
@media (max-width: 931.7px) {
  .sheet-note__footer .fab {
    font-size: 1.25em;
  }
}
.sheet-chic {
  background-image: linear-gradient(to bottom, #d8852e, #d8852e, #ff367e, #e633be, #905bfd);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.sheet-chic__title h2 {
  font-family: "Croissant-One", sans-serif;
  font-weight: normal;
  background-image: linear-gradient(to right bottom, #d8852e, #d8852e, #ff367e, #e633be, #905bfd);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 3em;
}
@media (max-width: 1232px) {
  .sheet-chic__title h2 {
    font-size: 2.25em;
  }
}
@media (max-width: 931.7px) {
  .sheet-chic__title h2 {
    font-size: 1.5em;
  }
}
.sheet-chic__container {
  font-family: "Sumana", sans-serif;
}
.sheet-chic__container .--chic-color1 {
  color: #c67412;
  font-size: 1.5em;
  font-weight: bold;
}
@media (max-width: 1232px) {
  .sheet-chic__container .--chic-color1 {
    font-size: 1.125em;
  }
}
@media (max-width: 931.7px) {
  .sheet-chic__container .--chic-color1 {
    font-size: 0.75em;
  }
}
.sheet-chic__container .--chic-color2 {
  color: #a56799;
  font-size: 1.5em;
  font-weight: bold;
}
@media (max-width: 1232px) {
  .sheet-chic__container .--chic-color2 {
    font-size: 1.125em;
  }
}
@media (max-width: 931.7px) {
  .sheet-chic__container .--chic-color2 {
    font-size: 0.75em;
  }
}
.sheet-chic__container .--chic-color3 {
  color: #6e4ccc;
  font-size: 1.5em;
}
@media (max-width: 1232px) {
  .sheet-chic__container .--chic-color3 {
    font-size: 1.125em;
  }
}
@media (max-width: 931.7px) {
  .sheet-chic__container .--chic-color3 {
    font-size: 0.75em;
  }
}
.sheet-chic__container--dishes-name {
  font-size: 1.2em;
}
@media (max-width: 1232px) {
  .sheet-chic__container--dishes-name {
    font-size: 0.9em;
  }
}
@media (max-width: 931.7px) {
  .sheet-chic__container--dishes-name {
    font-size: 0.6em;
  }
}
.sheet-chic__container--dishes .price {
  font-size: 1.4em;
}
@media (max-width: 1232px) {
  .sheet-chic__container--dishes .price {
    font-size: 1.05em;
  }
}
@media (max-width: 931.7px) {
  .sheet-chic__container--dishes .price {
    font-size: 0.7em;
  }
}
.sheet-delice__title {
  background-image: linear-gradient(to right bottom, #0431df, #0431df, #0074f7, #0887fb);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.sheet-delice__title h2 {
  font-family: "dancing-Script", sans-serif;
  font-weight: normal;
  font-size: 4.5em;
}
@media (max-width: 1232px) {
  .sheet-delice__title h2 {
    font-size: 3.375em;
  }
}
@media (max-width: 931.7px) {
  .sheet-delice__title h2 {
    font-size: 2.25em;
  }
}
.sheet-delice__container {
  font-family: "Segoe print", sans-serif;
}
.sheet-delice__container--header {
  font-size: 1.4em;
}
@media (max-width: 1232px) {
  .sheet-delice__container--header {
    font-size: 1.05em;
  }
}
@media (max-width: 931.7px) {
  .sheet-delice__container--header {
    font-size: 0.7em;
  }
}
.sheet-delice__container--dishes-name {
  font-size: 1.2em;
}
@media (max-width: 1232px) {
  .sheet-delice__container--dishes-name {
    font-size: 0.9em;
  }
}
@media (max-width: 931.7px) {
  .sheet-delice__container--dishes-name {
    font-size: 0.6em;
  }
}
.sheet-delice__container--dishes .price {
  font-size: 1.5em;
}
@media (max-width: 1232px) {
  .sheet-delice__container--dishes .price {
    font-size: 1.125em;
  }
}
@media (max-width: 931.7px) {
  .sheet-delice__container--dishes .price {
    font-size: 0.75em;
  }
}
.sheet-palette__title {
  background-image: linear-gradient(to right, #3d9339, #5dad4a, #7dc85b, #9ee36c, #bfff7e);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.sheet-palette__title h2 {
  font-family: "Kaushan-Script", sans-serif;
  font-weight: normal;
  font-size: 6em;
}
@media (max-width: 1232px) {
  .sheet-palette__title h2 {
    font-size: 3.75em;
  }
}
@media (max-width: 931.7px) {
  .sheet-palette__title h2 {
    font-size: 2.5em;
  }
}
.sheet-palette__container {
  font-family: "Segoe print", sans-serif;
}
.sheet-palette__container--header-title {
  font-size: 1.3em;
}
@media (max-width: 1232px) {
  .sheet-palette__container--header-title {
    font-size: 0.975em;
  }
}
@media (max-width: 931.7px) {
  .sheet-palette__container--header-title {
    font-size: 0.65em;
  }
}
.sheet-palette__container--dishes-name {
  font-size: 1.2em;
}
@media (max-width: 1232px) {
  .sheet-palette__container--dishes-name {
    font-size: 0.9em;
  }
}
@media (max-width: 931.7px) {
  .sheet-palette__container--dishes-name {
    font-size: 0.6em;
  }
}
.sheet-palette__container--dishes .price {
  font-size: 1.4em;
  font-weight: bold;
}
@media (max-width: 1232px) {
  .sheet-palette__container--dishes .price {
    font-size: 1.05em;
  }
}
@media (max-width: 931.7px) {
  .sheet-palette__container--dishes .price {
    font-size: 0.7em;
  }
}
footer {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
}
footer li {
  list-style-type: none;
}
footer a {
  color: #fdcb46;
}

/*# sourceMappingURL=style.css.map */
