body {
  margin: 0;
}

header h1 {
  margin: 0;
  width: 100%;
  padding: 0.4em 0 0.4em 0;
  background-color: #579c87;
}

.content {
  margin-top: 3em;
  margin-bottom: 5em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.content .content__menu {
  width: 250px;
  height: 350px;
  margin-top: 1em;
  margin-bottom: 1em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
@media (max-width: 1440px) {
  .content .content__menu {
    min-width: 250px;
  }
}

.content .content__menu--note {
  background-color: #fcdfdb;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
}
.content .content__menu--note .fa-itunes-note {
  background-image: linear-gradient(to right, #f04a5e, #f35e5e, #f56f60, #f68064, #f78f6a);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.content .content__menu--chic {
  background-color: #fff5fe;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
}
.content .content__menu--delice {
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
}
.content .content__menu--palette {
  background-color: #fdfffd;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
}

.btn {
  text-align: center;
}
.btn .prochainement {
  width: 180px;
  padding: 0.4em 1.6em;
  border-radius: 8px;
  margin: auto;
  background-color: #579c87;
}

.ellipsis {
  display: flex;
  justify-content: center;
  margin-top: 40vh;
}
.ellipsis .ellipsis--1 {
  width: 5vh;
  height: 5vh;
  margin: 0 5px 0 5px;
  border-radius: 10vh;
  background-color: #7a7a7a;
  animation: ellipsis 0.8s 0.1s both infinite;
}
.ellipsis .ellipsis--2 {
  width: 5vh;
  height: 5vh;
  margin: 0 5px 0 5px;
  border-radius: 10vh;
  background-color: #7a7a7a;
  animation: ellipsis 0.8s 0.2s both infinite;
}
.ellipsis .ellipsis--3 {
  width: 5vh;
  height: 5vh;
  margin: 0 5px 0 5px;
  border-radius: 10vh;
  background-color: #7a7a7a;
  animation: ellipsis 0.8s 0.3s both infinite;
}

footer {
  position: fixed;
  width: 100%;
  height: 3em;
  bottom: 0;
  background-color: #579c87;
}
footer ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@keyframes ellipsis {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  5% {
    transform: translateY(5px) scale(1.2, 0.8);
    animation-timing-function: linear;
  }
  25% {
    transform: translateY(-25px) scale(0.8, 1.2);
    animation-timing-function: linear;
  }
  50% {
    transform: translateY(-50px) scale(1, 1);
    animation-timing-function: linear;
  }
  60% {
    transform: translateY(-25px) scale(0.8, 1.2);
    animation-timing-function: linear;
  }
  90% {
    transform: scale(1.2, 0.8) translateY(5px);
    animation-timing-function: linear;
  }
  100% {
    transform: translateY(0);
  }
}
.link_note:hover > .content__menu--note > * {
  transform: scale(1.1);
  opacity: 0.6;
  transition: transform 200ms, opacity 200ms;
}

.link_note > .content__menu--note > * {
  transition: transform 200ms, opacity 200ms;
}

.link_chic:hover > .content__menu--chic > * {
  transform: scale(1.1);
  opacity: 0.6;
  transition: transform 200ms, opacity 200ms;
}

.link_chic > .content__menu--chic > * {
  transition: transform 200ms, opacity 200ms;
}

.link_delice:hover > .content__menu--delice > * {
  transform: scale(1.1);
  opacity: 0.6;
  transition: transform 200ms, opacity 200ms;
}

.link_delice > .content__menu--delice > * {
  transition: transform 200ms, opacity 200ms;
}

.link_palette:hover > .content__menu--palette > * {
  transform: scale(1.1);
  opacity: 0.6;
  transition: transform 200ms, opacity 200ms;
}

.link_palette > .content__menu--palette > * {
  transition: transform 200ms, opacity 200ms;
}

.prochainement:hover {
  border: #579c87 2px solid;
  transform: scale(1.1);
  background-color: #85bbaa;
}

@font-face {
  font-family: "Devonshire-Regular";
  src: url("../../font/Devonshire-Regular.ttf.woff") format("woff"), url("../../font/Devonshire-Regular.ttf.svg#Devonshire-Regular") format("svg"), url("../../font/Devonshire-Regular.ttf.eot"), url("../../font/Devonshire-Regular.ttf.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Dancing-Script";
  src: url("../../font/Dancing-Script.ttf.woff") format("woff"), url("../../Dancing-Script.ttf.svg#Dancing-Script") format("svg"), url("../../Dancing-Script.ttf.eot"), url("../../Dancing-Script.ttf.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Kaushan-Script";
  src: url("../../font/Kaushan-Script.ttf.woff") format("woff"), url("Kaushan-Script.ttf.svg#Kaushan-Script") format("svg"), url("Kaushan-Script.ttf.eot"), url("Kaushan-Script.ttf.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
h1 {
  text-align: center;
}
h1 a {
  font-family: "Roboto", sans-serif;
  letter-spacing: -0.06em;
  text-decoration: none;
  color: #fdcb46;
  font-weight: bold;
  text-transform: lowercase;
  font-size: 46px;
}

a {
  text-decoration: none;
}

.content .content__menu--note h2 {
  font-family: "Devonshire-Regular", sans-serif;
  font-weight: normal;
  color: #3c1218;
}
.content .content__menu--note h3 {
  text-transform: uppercase;
  font-family: "Segoe print", sans-serif;
  font-weight: bold;
  color: #3c1218;
}
.content .content__menu--chic h2 {
  background-image: linear-gradient(to right bottom, #d8852e, #d8852e, #ff367e, #e633be, #905bfd);
  font-size: 1.3em;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.content .content__menu--chic h3 {
  font-weight: bold;
  font-size: 1.5em;
  color: #d8852e;
}
.content .content__menu--delice h2 {
  font-family: "dancing-Script";
  background-image: linear-gradient(to right bottom, #0431df, #0431df, #0074f7, #0887fb);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.content .content__menu--delice h3 {
  font-family: "Segoe print", sans-serif;
  color: #0887fb;
}
.content .content__menu--palette h2 {
  font-family: "Kaushan-Script", sans-serif;
  background-image: linear-gradient(to right, #3d9339, #5dad4a, #7dc85b, #9ee36c, #bfff7e);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.content .content__menu--palette h3 {
  font-family: "Segoe print", sans-serif;
  color: #72bf56;
}

.prochainement {
  color: #fdcb46;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 1.2em;
}

footer {
  color: #fdcb46;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
}
footer li {
  list-style-type: none;
}

/*# sourceMappingURL=style.css.map */
