body {
  margin: 0;
}

header h1 {
  margin: 0;
  width: 100%;
  padding: 0.4em 0 0.4em 0;
  background-color: #579c87;
}

.content {
  margin-top: 1em;
  margin-bottom: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.content .content__menu {
  width: 250px;
  height: 350px;
  margin-top: 1em;
  margin-bottom: 1em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
@media (max-width: 1440px) {
  .content .content__menu {
    min-width: 250px;
  }
}
.content .content__menu--note {
  background-color: #fcdfdb;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}
.content .content__menu--note .fa-itunes-note {
  background-image: linear-gradient(to right, #f04a5e, #f35e5e, #f56f60, #f68064, #f78f6a);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.content .content__menu--chic {
  background-color: #fff5fe;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}
.content .content__menu--delice {
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}
.content .content__menu--palette {
  background-color: #fdfffd;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

.btn {
  text-align: center;
}
.btn .prochainement {
  width: 180px;
  padding: 0.4em 1.6em;
  border-radius: 8px;
  margin: auto;
  margin-bottom: 20%;
  background-color: #579c87;
}
.btn .prochainement:hover {
  border: #579c87 2px solid;
  transform: scale(1.1);
  background-color: #85bbaa;
}
.btn--prochainement {
  margin-bottom: 2em;
}

.ellipsis {
  display: flex;
  justify-content: center;
  margin-top: 40vh;
}
.ellipsis .ellipsis--1 {
  width: 5vh;
  height: 5vh;
  margin: 0 5px 0 5px;
  border-radius: 10vh;
  background-color: #7a7a7a;
  animation: ellipsis 0.8s 0.1s both infinite;
}
.ellipsis .ellipsis--2 {
  width: 5vh;
  height: 5vh;
  margin: 0 5px 0 5px;
  border-radius: 10vh;
  background-color: #7a7a7a;
  animation: ellipsis 0.8s 0.2s both infinite;
}
.ellipsis .ellipsis--3 {
  width: 5vh;
  height: 5vh;
  margin: 0 5px 0 5px;
  border-radius: 10vh;
  background-color: #7a7a7a;
  animation: ellipsis 0.8s 0.3s both infinite;
}

.menu-page__title {
  margin-top: 2em;
  margin-bottom: 2em;
}

.sheet-note {
  background-color: #fcdfdb;
  width: 78%;
  height: 140vw;
  margin: auto;
  margin-bottom: 4em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sheet-note__title {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 1em;
  margin-bottom: 5em;
}
.sheet-note__title .fab {
  margin: auto;
  background-image: linear-gradient(to right, #f04a5e, #f35e5e, #f56f60, #f68064, #f78f6a);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.sheet-note__container {
  width: 85%;
}
.sheet-note__container--header {
  margin-top: 3em;
  margin-bottom: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.sheet-note__container--header img {
  object-fit: contain;
  width: 33%;
}
.sheet-note__container--dishes {
  justify-content: space-between;
  display: flex;
}
.sheet-note__container--dishes ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.sheet-note__container--dishes-name {
  line-height: 3em;
}
.sheet-note__container--dishes-price {
  line-height: 2.65em;
  text-align: right;
}
.sheet-note__footer {
  display: flex;
  flex-direction: row;
  margin-top: 3em;
}
.sheet-note__footer .fab {
  background-image: linear-gradient(to right, #f04a5e, #f35e5e, #f56f60, #f68064, #f78f6a);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  padding: 0;
  margin-right: 0.2em;
}
.sheet-note__footer h2 {
  padding: 0;
  margin: 0;
}

.sheet-chic {
  background-color: #fff5fe;
  width: 78%;
  height: 140vw;
  margin: auto;
  margin-bottom: 4em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sheet-chic__title {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 1em;
  margin-bottom: 5em;
}
.sheet-chic__container {
  width: 80%;
}
.sheet-chic__container--header {
  margin-top: 3em;
  margin-bottom: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.sheet-chic__container--header img {
  width: 33%;
}
.sheet-chic__container--dishes {
  justify-content: space-between;
  display: flex;
}
.sheet-chic__container--dishes ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.sheet-chic__container--dishes-name {
  line-height: 3em;
}
.sheet-chic__container--dishes-price {
  line-height: 2.65em;
  text-align: right;
}

.sheet-delice {
  background-color: #f9f9f9;
  width: 78%;
  height: 140vw;
  margin: auto;
  margin-bottom: 4em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sheet-delice__title {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 1em;
  margin-bottom: 5em;
}
.sheet-delice__container {
  width: 80%;
}
.sheet-delice__container--header {
  margin-top: 3em;
  margin-bottom: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.sheet-delice__container--header img {
  width: 33%;
}
.sheet-delice__container--dishes {
  margin-left: 8%;
  margin-right: 8%;
  justify-content: space-between;
  display: flex;
}
.sheet-delice__container--dishes ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.sheet-delice__container--dishes-name {
  line-height: 3em;
}
.sheet-delice__container--dishes-price {
  line-height: 2.65em;
  text-align: right;
}

.sheet-palette {
  background-color: #fdfffd;
  width: 78%;
  height: 140vw;
  margin: auto;
  margin-bottom: 4em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sheet-palette__title {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 1em;
  margin-bottom: 5em;
}
.sheet-palette__container {
  width: 80%;
}
.sheet-palette__container--header {
  margin-top: 3em;
  margin-bottom: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.sheet-palette__container--header img {
  width: 33%;
  object-fit: contain;
}
.sheet-palette__container--dishes {
  margin-left: 5%;
  margin-right: 5%;
  justify-content: space-between;
  display: flex;
}
.sheet-palette__container--dishes ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.sheet-palette__container--dishes-name {
  line-height: 3em;
}
.sheet-palette__container--dishes-price {
  line-height: 2.65em;
  text-align: right;
}

footer {
  position: fixed;
  width: 100%;
  height: 3em;
  bottom: 0;
  background-color: #579c87;
}
footer ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1% 4%;
  padding: 0;
}
footer li:hover {
  animation: wiggle 250ms cubic-bezier(0.4, 0.1, 0.6, 0.9) 2;
}

@keyframes ellipsis {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  5% {
    transform: translateY(5px) scale(1.2, 0.8);
    animation-timing-function: linear;
  }
  25% {
    transform: translateY(-25px) scale(0.8, 1.2);
    animation-timing-function: linear;
  }
  50% {
    transform: translateY(-50px) scale(1, 1);
    animation-timing-function: linear;
  }
  60% {
    transform: translateY(-25px) scale(0.8, 1.2);
    animation-timing-function: linear;
  }
  90% {
    transform: scale(1.2, 0.8) translateY(5px);
    animation-timing-function: linear;
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes wiggle {
  25% {
    transform: translateX(2%);
  }
  75% {
    transform: translateX(-2%);
  }
}
.link_note:hover > .content__menu--note > * {
  transform: scale(1.1);
  opacity: 0.6;
  transition: transform 200ms, opacity 200ms;
}

.link_note > .content__menu--note > * {
  transition: transform 200ms, opacity 200ms;
}

.link_chic:hover > .content__menu--chic > * {
  transform: scale(1.1);
  opacity: 0.6;
  transition: transform 200ms, opacity 200ms;
}

.link_chic > .content__menu--chic > * {
  transition: transform 200ms, opacity 200ms;
}

.link_delice:hover > .content__menu--delice > * {
  transform: scale(1.1);
  opacity: 0.6;
  transition: transform 200ms, opacity 200ms;
}

.link_delice > .content__menu--delice > * {
  transition: transform 200ms, opacity 200ms;
}

.link_palette:hover > .content__menu--palette > * {
  transform: scale(1.1);
  opacity: 0.6;
  transition: transform 200ms, opacity 200ms;
}

.link_palette > .content__menu--palette > * {
  transition: transform 200ms, opacity 200ms;
}

@font-face {
  font-family: "Devonshire-Regular";
  src: url("../../font/Devonshire-Regular.ttf.woff") format("woff"), url("../../font/Devonshire-Regular.ttf.svg#Devonshire-Regular") format("svg"), url("../../font/Devonshire-Regular.ttf.eot"), url("../../font/Devonshire-Regular.ttf.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Dancing-Script";
  src: url("../../font/Dancing-Script.ttf.woff") format("woff"), url("../../font/Dancing-Script.ttf.svg#Dancing-Script") format("svg"), url("../../font/Dancing-Script.ttf.eot"), url("../../font/Dancing-Script.ttf.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Kaushan-Script";
  src: url("../../font/Kaushan-Script.ttf.woff") format("woff"), url("../../font/Kaushan-Script.ttf.svg#Kaushan-Script") format("svg"), url("../../font/Kaushan-Script.ttf.eot"), url("../../font/Kaushan-Script.ttf.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Croissant-One";
  src: url("../../font/Croissant-One.ttf.woff") format("woff"), url("../../font/Croissant-One.ttf.svg#Croissant-One") format("svg"), url("../../font/Croissant-One.ttf.eot"), url("../../font/Croissant-One.ttf.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Sumana";
  src: url("../../font/Sumana.ttf.woff") format("woff"), url("../../font/Sumana.ttf.svg#Sumana") format("svg"), url("../../font/Sumana.ttf.eot"), url("../../font/Sumana.ttf.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
h1 {
  text-align: center;
}
h1 a {
  font-family: "Roboto", sans-serif;
  letter-spacing: -0.06em;
  text-decoration: none;
  color: #fdcb46;
  font-weight: bold;
  text-transform: lowercase;
  font-size: 46px;
}

a {
  text-decoration: none;
}

.content .content__menu--note h2 {
  font-family: "Devonshire-Regular", sans-serif;
  font-weight: normal;
  color: #3c1218;
}
.content .content__menu--note h3 {
  text-transform: uppercase;
  font-family: "Segoe print", sans-serif;
  font-weight: bold;
  color: #3c1218;
}
.content .content__menu--chic h2 {
  font-family: "Croissant-One", sans-serif;
  background-image: linear-gradient(to right, #d8852e, #d8852e, #ff367e, #e633be, #905bfd);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 1.1em;
}
.content .content__menu--chic h3 {
  font-weight: bold;
  font-size: 1.5em;
  color: #d8852e;
}
.content .content__menu--delice h2 {
  font-family: "dancing-Script", sans-serif;
  background-image: linear-gradient(to right bottom, #0431df, #0431df, #0074f7, #0887fb);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.content .content__menu--delice h3 {
  font-family: "Segoe print", sans-serif;
  color: #0887fb;
}
.content .content__menu--palette h2 {
  font-family: "Kaushan-Script", sans-serif;
  background-image: linear-gradient(to right, #3d9339, #5dad4a, #7dc85b, #9ee36c, #bfff7e);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.content .content__menu--palette h3 {
  font-family: "Segoe print", sans-serif;
  color: #72bf56;
}

.prochainement {
  color: #fdcb46;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 1.2em;
}

.menu-page__title {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.sheet-note__title .fab {
  font-size: 8em;
}
.sheet-note__title h2 {
  font-size: 4em;
  font-family: "Devonshire-Regular", sans-serif;
  font-weight: normal;
  color: #3c1218;
}
.sheet-note__container {
  font-family: "Segoe print", sans-serif;
  font-weight: bold;
  font-size: 1.3em;
}
.sheet-note__container--dishes-name {
  font-weight: normal;
  font-size: 0.8em;
}
.sheet-note__container--dishes-price {
  font-size: 0.9em;
}
.sheet-note__footer {
  font-size: 1.7em;
  font-family: "Devonshire-Regular", sans-serif;
  font-weight: normal;
  color: #3c1218;
  height: 100px;
}
.sheet-note__footer .fab {
  font-size: 2.5em;
}

.sheet-chic {
  background-image: linear-gradient(to bottom, #d8852e, #d8852e, #ff367e, #e633be, #905bfd);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.sheet-chic__title .fab {
  font-size: 8em;
}
.sheet-chic__title h2 {
  font-size: 4em;
  font-family: "Croissant-One", sans-serif;
  font-weight: normal;
  background-image: linear-gradient(to right bottom, #d8852e, #d8852e, #ff367e, #e633be, #905bfd);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 3em;
}
.sheet-chic__container {
  font-family: "Sumana", sans-serif;
}
.sheet-chic__container .--chic-color2 {
  color: #a56799;
}
.sheet-chic__container .--chic-color3 {
  color: #6e4ccc;
}

.sheet-delice__title {
  background-image: linear-gradient(to right bottom, #0431df, #0431df, #0074f7, #0887fb);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.sheet-delice__title .fab {
  font-size: 8em;
}
.sheet-delice__title h2 {
  font-size: 4em;
  font-family: "dancing-Script", sans-serif;
  font-weight: normal;
  font-size: 3em;
}
.sheet-delice__container {
  font-family: "Segoe print", sans-serif;
}

.sheet-palette__title {
  background-image: linear-gradient(to right, #3d9339, #5dad4a, #7dc85b, #9ee36c, #bfff7e);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.sheet-palette__title .fab {
  font-size: 8em;
}
.sheet-palette__title h2 {
  font-size: 4em;
  font-family: "Kaushan-Script", sans-serif;
  font-weight: normal;
  font-size: 3em;
}
.sheet-palette__container {
  font-family: "Segoe print", sans-serif;
}

footer {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
}
footer li {
  list-style-type: none;
}
footer a {
  color: #fdcb46;
}

/*# sourceMappingURL=style.css.map */
