body {
  margin: 0;
}

header {
  & h1 {
    margin: 0;
    width: 100%;
    padding: 0.4em 0 0.4em 0;
    background-color: $color-green;
  }
}

.content {
  margin-top: 1em;
  margin-bottom: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  .content__menu {
    width: $box-w;
    height: $box-h;
    margin-top: 1em;
    margin-bottom: 1em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    @media (max-width: 1440px) {
      min-width: $box-w;
    }
    &--note {
      background-color: $color-bg-note;
      @include content__menu-layout;
      & .fa-itunes-note {
        @include gradient-note;
      }
    }
    &--chic {
      background-color: $color-bg-chic;
      @include content__menu-layout;
    }
    &--delice {
      background-color: $color-bg-delice;
      @include content__menu-layout;
    }
    &--palette {
      background-color: $color-bg-palette;
      @include content__menu-layout;
    }
  }
}

.btn {
  text-align: center;
  .prochainement {
    width: 180px;
    padding: 0.4em 1.6em;
    border-radius: 8px;
    margin: auto;
    margin-bottom: 20%;
    background-color: $color-green;
    &:hover {
      border: $color-green 2px solid;
      transform: scale(1.1);
      background-color: lighten($color-green, 15);
    }
  }
  &--prochainement {
    margin-bottom: 2em;
  }
}

.ellipsis {
  display: flex;
  justify-content: center;
  margin-top: 40vh;
  @each $el in $lst-ellipsis {
    .ellipsis--#{$el} {
      width: 5vh;
      height: 5vh;
      margin: 0 5px 0 5px;
      border-radius: 10vh;
      background-color: grayscale($color: $color-green);
      animation: ellipsis
        $ellipsis-anim-dur
        ($ellipsis-anim-delay * $el)
        both
        infinite;
    }
  }
}

.menu-page {
  &__title {
    margin-top: 2em;
    margin-bottom: 2em;
  }
}

.sheet-note {
  background-color: $color-bg-note;
  @include sheet-menu-layout;
  &__title {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 5em;
    & .fab {
      margin: auto;
      @include gradient-note;
    }
  }
  &__container {
    width: 85%;
    &--header {
      margin-top: 3em;
      margin-bottom: 1em;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      &:hover {
        //TODO: AJOUTER ANIMATION HOVER ICI
      }
      img {
        object-fit: contain;
        width: 33%;
      }
    }
    &--dishes {
      justify-content: space-between;
      display: flex;
      & ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
      }
      &-name {
        line-height: 3em;
      }
      &-price {
        line-height: 2.65em;
        text-align: right;
      }
    }
  }
  &__footer {
    display: flex;
    flex-direction: row;
    margin-top: 3em;
    .fab {
      @include gradient-note;
      padding: 0;
      margin-right: 0.2em;
    }
    h2 {
      padding: 0;
      margin: 0;
    }
  }
}

.sheet-chic {
  background-color: $color-bg-chic;
  @include sheet-menu-layout;
  &__title {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 5em;
  }
  &__container {
    width: 80%;
    &--header {
      margin-top: 3em;
      margin-bottom: 1em;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      &:hover {
        //TODO: AJOUTER ANIMATION HOVER ICI
      }
      img {
        width: 33%;
      }
    }
    &--dishes {
      justify-content: space-between;
      display: flex;
      & ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
      }
      &-name {
        line-height: 3em;
      }
      &-price {
        line-height: 2.65em;
        text-align: right;
      }
    }
  }
}

.sheet-delice {
  background-color: $color-bg-delice;
  @include sheet-menu-layout;
  &__title {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 5em;
  }
  &__container {
    width: 80%;
    &--header {
      margin-top: 3em;
      margin-bottom: 1em;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      &:hover {
        //TODO: AJOUTER ANIMATION HOVER ICI
      }
      img {
        width: 33%;
      }
    }
    &--dishes {
      // La marge LR est plus importante sur ce menu que sur les autres.
      margin-left: 8%;
      margin-right: 8%;
      justify-content: space-between;
      display: flex;
      & ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
      }
      &-name {
        line-height: 3em;
      }
      &-price {
        line-height: 2.65em;
        text-align: right;
      }
    }
  }
}

.sheet-palette {
  background-color: $color-bg-palette;
  @include sheet-menu-layout;
  &__title {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 5em;
  }
  &__container {
    width: 80%;
    &--header {
      margin-top: 3em;
      margin-bottom: 1em;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      &:hover {
        //TODO: AJOUTER ANIMATION HOVER ICI
      }
      img {
        width: 33%;
        object-fit: contain;
      }
    }
    &--dishes {
      // La marge LR est plus importante sur ce menu que sur les autres.
      margin-left: 5%;
      margin-right: 5%;
      justify-content: space-between;
      display: flex;
      & ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
      }
      &-name {
        line-height: 3em;
      }
      &-price {
        line-height: 2.65em;
        text-align: right;
      }
    }
  }
}

footer {
  position: fixed; // sticky footer

  width: 100%;
  height: $footer-height;
  bottom: 0;
  background-color: $color-green;
  & ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1% 4%;
    padding: 0;
  }
  & li:hover {
    animation: wiggle $wiggle-anim-dur cubic-bezier(0.4, 0.1, 0.6, 0.9) 2;
  }
}
