body {
  margin: 0;
}

header {
  & h1 {
    margin: 0;
    width: 100%;
    padding: 0.4em 0 0.4em 0;
    background-color: $color-green;
  }
}

.content {
  margin-top: 1em;
  margin-bottom: 1.5em;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  .content__menu {
    width: $box-w;
    height: $box-h;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
}
.btn {
  text-align: center;
  .prochainement {
    width: 180px;
    padding: 0.4em 1.6em;
    border-radius: 8px;
    margin: auto;
    background-color: $color-green;
  }
}

footer {
  position: fixed; // sticky footer

  width: 100%;
  height: $footer-height;
  bottom: 0;
  background-color: $color-green;
  & ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
