body {
  margin: 0;
}

header {
  & h1 {
    margin: 0;
    width: 100%;
    padding: 0.4em 0 0.4em 0;
    background-color: $color-green;
  }
}

.content {
  margin-top: 1em;
  margin-bottom: $footer-height + 1em;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  .content__menu {
    width: 250px;
    height: 400px;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
}

footer {
  position: fixed; // sticky footer

  width: 100%;
  height: $footer-height;
  bottom: 0;
  background-color: $color-green;
  & ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
