@font-face {
  font-family: "Devonshire-Regular";
  src: url("../../font/Devonshire-Regular.ttf.woff") format("woff"),
    url("../../font/Devonshire-Regular.ttf.svg#Devonshire-Regular")
      format("svg"),
    url("../../font/Devonshire-Regular.ttf.eot"),
    url("../../font/Devonshire-Regular.ttf.eot?#iefix")
      format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Dancing-Script";
  src: url("../../font/Dancing-Script.ttf.woff") format("woff"),
    url("../../Dancing-Script.ttf.svg#Dancing-Script") format("svg"),
    url("../../Dancing-Script.ttf.eot"),
    url("../../Dancing-Script.ttf.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Kaushan-Script";
  src: url("../../font/Kaushan-Script.ttf.woff") format("woff"),
    url("Kaushan-Script.ttf.svg#Kaushan-Script") format("svg"),
    url("Kaushan-Script.ttf.eot"),
    url("Kaushan-Script.ttf.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
