h1 {
  text-align: center;
  a {
    font-family: "Roboto", sans-serif;
    letter-spacing: -0.06em; // Spacing between two letters.
    text-decoration: none;

    color: $color-yellow;
    font-weight: bold;
    text-transform: lowercase;

    font-size: 46px;
  }
}

.prochainement {
  color: $color-yellow;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 1.2em;
}

footer {
  color: $color-yellow;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  & li {
    list-style-type: none;
  }
}
