h1 {
  font-family: "Roboto", sans-serif;
  letter-spacing: -0.07em; // Spacing between two letters.

  color: $color-yellow;
  font-weight: bolder;
  text-align: center;
  text-transform: lowercase;

  font-size: 46px;
}

footer {
  color: $color-yellow;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  & li {
    list-style-type: none;
  }
}
