h1 {
  text-align: center;
  a {
    font-family: "Roboto", sans-serif;
    letter-spacing: -0.06em; // Spacing between two letters.
    text-decoration: none;
    color: $color-yellow;
    font-weight: bold;
    text-transform: lowercase;
    font-size: 46px;
  }
}

a {
  text-decoration: none;
}

.content {
  & .content__menu {
    &--note {
      & h2 {
        font-family: "Devonshire-Regular", sans-serif;
        font-weight: normal;
        color: $color-menu-note;
      }
      & h3 {
        text-transform: uppercase;
        font-family: "Segoe print", sans-serif;
        font-weight: bold;
        color: $color-menu-note;
      }
    }
    &--chic {
      & h2 {
        font-family: "Croissant-One", sans-serif;
        @include gradient-chic;
        font-size: 1.1em;
      }
      & h3 {
        font-weight: bold;
        font-size: 1.5em;
        color: $color-gradient1-chic;
      }
    }
    &--delice {
      & h2 {
        font-family: "dancing-Script", sans-serif;
        @include gradient-delice;
      }
      & h3 {
        font-family: "Segoe print", sans-serif;
        color: $color-gradient2-delice;
      }
    }
    &--palette {
      & h2 {
        font-family: "Kaushan-Script", sans-serif;
        @include gradient-palette;
      }
      & h3 {
        font-family: "Segoe print", sans-serif;
        color: $color-menu-palette;
      }
    }
  }
}

.prochainement {
  color: $color-yellow;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 1.2em;
}

.menu-page__title {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.sheet-note {
  &__title {
    .fab {
      font-size: 8em;
    }
    h2 {
      font-size: 4em;
      font-family: "Devonshire-Regular", sans-serif;
      font-weight: normal;
      color: $color-menu-note;
    }
  }
  &__container {
    font-family: "Segoe print", sans-serif;
    &--header-title {
      font-weight: bold;
      font-size: 1.8em;
    }
    &--dishes-name {
      font-size: 1.2em;
    }
    &--dishes-price {
      font-size: 1.3em;
      font-weight: bold;
    }
  }
  &__footer {
    font-size: 1.7em;
    font-family: "Devonshire-Regular", sans-serif;
    font-weight: normal;
    color: $color-menu-note;
    height: 100px;
    .fab {
      font-size: 2.5em;
    }
  }
}

.sheet-chic {
  @include gradient-chic(bottom);

  &__title {
    h2 {
      font-family: "Croissant-One", sans-serif;
      font-weight: normal;
      @include gradient-chic(right bottom);
      font-size: 3em;
    }
  }
  &__container {
    font-family: "Sumana", sans-serif;
    & .--chic-color1 {
      color: $color-chic1;
      font-size: 1.5em;
      font-weight: bold;
    }
    & .--chic-color2 {
      color: $color-chic2;
      font-size: 1.5em;
      font-weight: bold;
    }
    & .--chic-color3 {
      color: $color-chic3;
      font-size: 1.5em;
      font-weight: bold;
    }
    &--dishes {
      &-name {
        font-size: 1.2em;
      }
      &-price {
        font-size: 1.3em;
      }
    }
  }
}

.sheet-delice {
  &__title {
    h2 {
      font-family: "dancing-Script", sans-serif;
      font-weight: normal;
      font-size: 5em;
    }
    @include gradient-delice;
  }
  &__container {
    font-family: "Segoe print", sans-serif;
    &--header {
      font-size: 1.4em;
    }
    &--dishes {
      &-name {
        font-size: 1.2em;
      }
      &-price {
        font-size: 1.5em;
      }
    }
  }
}

.sheet-palette {
  &__title {
    h2 {
      font-family: "Kaushan-Script", sans-serif;
      font-weight: normal;
      font-size: 6em;
    }
    @include gradient-palette;
  }
  &__container {
    font-family: "Segoe print", sans-serif;
    &--header-title {
      font-size: 1.3em;
    }
    &--dishes-name {
      font-size: 1.2em;
    }
    &--dishes-price {
      font-size: 1.4em;
      font-weight: bold;
    }
  }
}

footer {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  & li {
    list-style-type: none;
  }
  & a {
    color: $color-yellow;
  }
}
