@mixin content__menu-layout {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

@mixin gradient-font {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

@mixin sheet-menu-layout {
  width: 78%;
  height: 140vw;
  margin: auto;
  margin-bottom: $footer-height + 1em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin gradient-note {
  background-image: linear-gradient(
    to right,
    #f04a5e,
    #f35e5e,
    #f56f60,
    #f68064,
    #f78f6a
  );
  @include gradient-font;
}

@mixin gradient-chic($direction: right) {
  background-image: linear-gradient(
    to $direction,
    #d8852e,
    #d8852e,
    #ff367e,
    #e633be,
    #905bfd
  );
  @include gradient-font;
}

@mixin gradient-delice($direction: right bottom) {
  background-image: linear-gradient(
    to $direction,
    #0431df,
    #0431df,
    #0074f7,
    #0887fb
  );
  @include gradient-font;
}

@mixin gradient-palette($direction: right) {
  background-image: linear-gradient(
    to right,
    #3d9339,
    #5dad4a,
    #7dc85b,
    #9ee36c,
    #bfff7e
  );
  @include gradient-font;
}

@mixin typo-note {
  font-family: "Segoe print", sans-serif;
  font-weight: bold;
  font-size: 1.3em;
  &--dishes-name {
    font-weight: normal;
    font-size: 0.8em;
  }
  &--dishes-price {
    font-size: 0.9em;
  }
}

@mixin sheet__title {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 1em;
  margin-bottom: 5em;
}

@mixin sheet__separator {
  margin-top: 3em;
  margin-bottom: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@mixin list-style {
  justify-content: space-between;
  display: flex;
  & ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
}
