@mixin content__menu-layout {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  margin: 0.5em;
}

@mixin gradient-font {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

@mixin sheet-menu-layout($S_BP_height: $sheet-h-S) {
  width: $sheet-w-XL;
  height: $sheet-h-XL;
  @media (max-width: $sheet-w-XL*1.1) {
    width: $sheet-w-L;
    height: $sheet-h-L;
  }
  @media (max-width: $sheet-w-L*1.1) {
    width: $sheet-w-M;
    height: $sheet-h-M;
  }
  @media (max-width: $sheet-w-M*1.1) {
    width: $sheet-w-S;
    height: $S_BP_height;
  }
  margin: auto;
  margin-bottom: $footer-height + 1em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  // justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

@mixin sheet__title($marginbot: 0%) {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 12%;
  margin-bottom: $marginbot;
}

@mixin gradient-note {
  background-image: linear-gradient(
    to right,
    #f04a5e,
    #f35e5e,
    #f56f60,
    #f68064,
    #f78f6a
  );
  @include gradient-font;
}

@mixin gradient-chic($direction: right) {
  background-image: linear-gradient(
    to $direction,
    #d8852e,
    #d8852e,
    #ff367e,
    #e633be,
    #905bfd
  );
  @include gradient-font;
}

@mixin gradient-delice($direction: right bottom) {
  background-image: linear-gradient(
    to $direction,
    #0431df,
    #0431df,
    #0074f7,
    #0887fb
  );
  @include gradient-font;
}

@mixin gradient-palette($direction: right) {
  background-image: linear-gradient(
    to right,
    #3d9339,
    #5dad4a,
    #7dc85b,
    #9ee36c,
    #bfff7e
  );
  @include gradient-font;
}

@mixin sheet__separator {
  margin-top: 3em;
  margin-bottom: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  @media (max-width: $sheet-w-L*1.1) {
    margin-top: 2em;
  }
  @media (max-width: $sheet-w-M*1.1) {
    margin-top: 1.5em;
  }
  &-title {
    position: relative;
    &:hover:after {
      width: 100%;
      left: 0;
      background: black;
    }
  }
  &-title:after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    right: 0;
    background: black;
    transition: width 0.2s ease;
  }
}

@mixin list-style {
  justify-content: space-between;
  display: flex;
  & ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
}

@mixin fontSizeToEachBP($pFontSize) {
  @for $i from 4 to 1 {
    $temp_sheet-size: map-get($map-sheet-sizes, $i);
    @media (max-width: $temp_sheet-size * 1.1) {
      @if ($i > 2) {
        font-size: $pFontSize * (($i - 1)/4);
      }
    }
  }
}

@mixin grid-template {
  &-name {
    display: grid;
    grid-template-columns: $grid-layout;
    line-height: 3em;
    width: 100%;
  }
  .price {
    text-align: right;
    margin: auto;
  }
}
