$color-green: #579c87;
$color-yellow: #fdcb46;
$color-bg-note: #fcdfdb;
$color-bg-chic: #fff5fe;
$color-bg-delice: #f9f9f9;
$color-bg-palette: #fdfffd;

$color-gradient1-note: #f04a5e;
$color-gradient2-note: #f78f6a;

$color-gradient1-chic: #d8852e;
$color-gradient2-chic: #905bfd;

$color-gradient1-delice: #0431df;
$color-gradient2-delice: #0887fb;

$color-gradient1-palette: #3d9339;
$color-gradient2-palette: #bfff7e;
$color-menu-palette: #72bf56;

$box-w: 250px;
$box-h: 350px;

$footer-height: 3em;
